<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{product.title}}</title>
    </head>
    <body>
        <header class="product-header">
            <div class="container">
                <h1 class="title">{{product.title}}</h1>
                <h2 class="location">{{product.location}}</h2>
                <p class="description">
                    {{product.description}}
                </p>
            </div>
        </header>
        <div class="gallery-showcase">
            <div class="container">
                <div class="highlight-image">

                </div>
                <ul class="thumbs-list">
                    {% for image in images %}
                    <li class="item">
                        <img src="{{image.image.url}}" class="image" alt="" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="offer-container">
            <div class="container">
                <div class="tools">
                    <p class="title">
                        Escolha sua melhor opção
                    </p>
                    <div class="selects-container">
                        <p class="item">
                            <label for="from">saídas</label>
                            <select class="select-field" name="from">

                            </select>
                        </p>
                        <p class="item">
                            <label for="dailys">nº de diárias</label>
                            <select class="select-field" name="dailys">

                            </select>
                        </p>
                    </div>
                </div>
                <ul class="offer-list">
                    {% for offer in offers %}
                    <li class="item" data-daily="{{offer.daily}}" data-origins="">
                        <div class="offer-desc">
                            <p class="title">
                                {{offer.title}}
                            </p>
                            <p class="description">
                                {{offer.description}}
                            </p>
                        </div>
                        <div class="origin">
                            <p class="title">
                                Saídas
                            </p>

                            <ul class="origin-list">
                                {% for origin in offer.offerorigin.all %}
                                <li class="item">
                                    {{origin.origin_name}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dailys-people">
                            <p class="dailys">
                                {{offer.daily}}
                            </p>
                            <p class="people">
                                1
                            </p>
                        </div>
                        <div class="price-box">
                            <p class="offer-type">

                            </p>
                            <p class="only">
                                Por apenas
                            </p>
                            <p class="price">
                                <span class="currency">R$</span>
                                {{offer.price}}
                            </p>
                            <p class="obs">
                                + tavax em até 10x
                            </p>
                            <a href="#" class="button button-lead">quero ir</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
