{% load staticfiles humanize i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{product.title}}</title>
        <link rel="stylesheet" href="{% static 'css/product.css' %}" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="product-header">
            <div class="container">
                <h1 class="title">{{product.title}}</h1>
                <h2 class="location">{{product.location}}</h2>
                <p class="description">
                    {{product.description}}
                </p>
            </div>
        </header>
        <div class="gallery-showcase">
            <div class="container">
                <div class="highlight-image">
                    <img src="" class="image" alt="" />
                    <span class="btn-nav btn-prev"></span>
                    <span class="btn-nav btn-next"></span>
                </div>
                <ul class="thumbs-list">
                    {% for image in images %}
                    <li class="item">
                        <img src="/{{image.image.url}}" class="image" alt="" />
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="offer-container">
            <div class="container">
                <div class="tools">
                    <p class="title">
                        Escolha sua melhor opção
                    </p>
                    <div class="selects-container">
                        <div class="item">
                            <label for="from">saídas</label>
                            <div class="custom-select">
                                <select id="from-select" class="select-field" name="from">
                                    <option value="all">Escolha</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <label for="dailys">nº de diárias</label>
                            <div class="custom-select">
                                <select id="daily-select" class="select-field" name="dailys">
                                    <option value="all">Escolha</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="offer-list">
                    {% for offer in offers %}
                    <li class="item" data-daily="{{offer.daily}}" data-origins="">
                        <div class="offer-desc">
                            <p class="title">
                                {{offer.title}}
                            </p>
                            <p class="description">
                                {{offer.description}}
                            </p>
                        </div>
                        <div class="origin">
                            <p class="title">
                                Saídas
                            </p>
                            <ul class="origin-list">
                                {% for origin in offer.offerorigin.all %}
                                <li class="origin-item">
                                    {{origin.origin_name}}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="dailys-people">
                            <p class="dailys">
                                <span class="value">{{offer.daily}}</span>
                                <span class="text">Diárias</span>
                            </p>
                            <p class="people">
                                <span class="value">1</span>
                                <span class="text">Pessoa</span>
                            </p>
                        </div>
                        <div class="price-box">
                            <p class="offer-type">
                                $ Tarifa não reembolsável
                            </p>
                            <p class="only">
                                Por apenas
                            </p>
                            <p class="price">
                                <span class="currency">R$</span>
                                {{offer.price|intcomma}}
                            </p>
                            <p class="obs">
                                + taxas em até 10x
                            </p>
                            <a href="#" class="button button-lead">quero ir</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <script src="{% static 'js/jquery-2.2.3.min.js' %}" charset="utf-8"></script>
        <script src="{% static 'js/product.js' %}" charset="utf-8"></script>
    </body>
</html>
